{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for personne in personnes %}
            <p>{{ personne.firstname }}</p>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

