{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | detail
{% endblock %}

{% block body %}
    <div class="container">
    <p>{{ wish.title }}</p>
        <p>{{ wish.date | date('d/m/y H:i') }}</p>
    </div>
{% endblock %}